body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
}

body, html {
  height: 100%;
}

select {
  min-width: 100px;
}

svg {
  width: 100%;
  height: 100%;
}
